<!-- DOCTYPE html -->
{% load staticfiles %}
<html>
	<head>
		<title>{% block head_title %}Pesqueiro Cristais{% endblock head_title %}
		</title>
        <link rel="stylesheet" href='{% static "css/navbar-top-fixed.css" %}' /> 
		    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
		{% block head %} {% endblock head %}
		{% block style %}{% endblock style %}
		
	</head>
	<body>
        <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand" >
            Pesqueiro Cristais
          </p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Busca <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/comandas/ativas">Comandas Ativas</a></li>
                <li><a href="/clientes/lista">Clientes</a></li>
                <li><a href="/comandas/todas">Todas Comandas</a></li>
 <!--                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
            <li><a href="/comandas/nova/">Nova Comanda</a></li>
            <li><a href="/clientes/novo/">Cadastrar Cliente</a></li>
            <li><a href="/comandas/fechamento/">Encerrar</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/relatorio/comandas/">Comandas</a></li>
                  <li><a href="#">Produtos</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class='row'></br></div>
      <div class='col-md-offset-1 col-md-10 col-offset-1'>
        {% block content %}
        {% endblock content %}
      </div>
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}" ></script>
    <script>window.jQuery || document.write("<script src='{% static 'js/jquery.min.js'%}'><\/script>")</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    
{% block content2 %}
{% endblock content2 %}
    </body>

</html>