 {% extends 'base.html' %}
{% block head_title %}{{ title }} | {{ block.super }}{% endblock head_title %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

	<br></br>

<div class='row'>
	<div class="col-lg-6">
	<h2>Comanda nº {{ comanda.num_comanda }}</h2>
	<p><strong>Cliente: </strong>{{ comanda.id_cliente }}</td></p>
	<p><strong>Subtotal: R${{ total|floatformat:2 }}</strong></p>
	</div>
	<div class="col-lg-6">
		<table class="table" style="width:50%;">
			<thead>
				<td><strong>ENTRADAS:</strong></td><td></td>
				<td><strong>{{ subtotal_entrada|floatformat:2 }}</strong></td>
			</thead>
			<tbody>
				<tr>
					<td>{{ tipo_entrada }}</td>
					<td>1</td>
					<td>{{ valor_entrada_Adulto|floatformat:2 }}</td>
				</tr>
				<tr>
					<td>Infantil</td>
					<td>{{ comanda.entradas_infantil }}</td>
					<td>{{ valor_entrada_Infantil|floatformat:2 }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div>
<!-- PESAGENS -->
	<div class="col-lg-6">
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-1"><strong>Nº:</strong></th>
					<th class="col-md-2"><strong>Peixe:</strong></th>
					<th class="col-md-2"><strong>KG</strong></th>
					<th class="col-md-2"><strong>Limpesa</strong></th>
					<th class="col-md-2"><strong>R$</strong></th>
				{% if comanda.status %}
					<td></td>
				{% endif %}
				</tr>
			</thead>
			<tbody>
			{% for key, obj in pesagens.items %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ obj.tipo_peixe }}</td>
					<td>{{ obj.peso }}</td>
					<td>{{ obj.tipo_limpesa }}</td>
					<td>{{ obj.valor_pesagem|floatformat:2 }}</td>
				{% if comanda.status %}
					<td>
						<form action="del/pesagem/{{obj.id_pesagem}}/">{% csrf_token %}
							<button type="submit" formmethod="post"
							<span class="glyphicon glyphicon-remove"></span></button>
						</form>
					</td>
				{% endif %}

				</tr>
			{% endfor %}
			<tfoot>
				<tr>
					<td></td>
					<td><strong>TOTAL</strong></td>
					<td><strong>{{ total_kg }}</strong></td>
					<td></td>
					<td><strong>{{ total_pesagens|floatformat:2 }}</strong></td>
				{% if comanda.status %}
					<td></td>
				{% endif %}
				</tr>
			</tfoot>
			{% if comanda.status %}
				<form method='POST'>{% csrf_token %}
				<tr>
					<td></td>
					<td>{{ form_pesagem.peixe }}</td>
					<td>{{ form_pesagem.peso }}</td>
					<td>{{ form_pesagem.limpesa }}</td>
					<td><input type='submit' name="add_pesagem" value="Adicionar"></td>
					<td></td>
				</tr>
				</form>
			{% endif %}
		</tbody>
	</table>
	</div>
<!-- COMPRAS -->
	<div class="col-lg-6">
		<table class="table" style="width:50%">
			<thead>
				<tr>
					<th class="col-md-2"><strong>Produtos</strong></th>
					<th class="col-md-2"><strong>Qtd</strong></th>
					<th class="col-md-2"><strong>R$</strong></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for obj in compras %}
				<tr>
					<td>{{ obj.id_produto }}</td>
					<td>{{ obj.qtd }}</td>
					<td>{{ obj.valor|floatformat:2 }}</td>
				{% if comanda.status %}
					<td>
						<form action="del/compra/{{obj.id_compra}}/">{% csrf_token %}
							<button type="submit" formmethod="post"
							<span class="glyphicon glyphicon-remove"></span></button>
						</form>
					</td>
				{% endif %}
				</tr>
			{% endfor %}
			<tfoot>
				<tr>
					<td><strong>TOTAL</strong></td>
					<td></td>
					<td><strong>{{ total_compras|floatformat:2 }}</strong></td>
				{% if comanda.status %}
					<td></td>
				{% endif %}
				</tr>
			</tfoot>
			{% if comanda.status %}
				<tr>
					<form method='POST'>{% csrf_token %}
					<td>{{ form_compras.id_produto }}</td>
					<td>{{ form_compras.qtd }}</td>
					<td><input type='submit' name="add_compra" value="Adicionar"> </td></form>
					<td></td>
				</tr>
			{% endif %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}

{% block content2 %}

{% endblock content2 %}