{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<h3>{{ title }}</h3>
</br>
<div class='row'>
	<div style="float:left">
		<table class="table table-condensed" style="width:50%">
			<form class="form-inline" method='POST' enctype="multipart/form-data">{% csrf_token %}
				{{ form.non_field_errors }}
				<tr><td>
				<div class="fieldWrapper">
				    {{ form.nome.errors }}
				    <label for="{{ form.nome.id_for_label }}">Nome:</label></td>
				    <td>{{ form.nome }}</td>
				</div>
				</tr>
				<tr><td>
				<div class="fieldWrapper">
				    {{ form.sobrenome.errors }}
				    <label for="{{ form.sobrenome.id_for_label }}">Sobrenome:</label></td>
				    <td>{{ form.sobrenome }}</td>
				</div>
				</tr>
				<tr><td>
				<div class="fieldWrapper">
				    {{ form.rg_cliente.errors }}
				    <label for="{{ form.rg.id_for_label }}">R.G.:</label></td>
				    <td>{{ form.rg }}</td>
				</div>
				</tr>
				<tr><td>
				<div class="fieldWrapper">
				    {{ form.email.errors }}
				    <label for="{{ form.email.id_for_label }}">E-mail:</label></td>
				    <td>{{ form.email }}</td>
				</div>
				</tr>
				<tr><td><input type='submit' value="Cadastrar e continuar" name='continua'></td>
					<td><input type='submit' value="Cadastrar e criar comanda" name='voltar'></td>
					<input type='hidden' value='0' id='boolFoto' name='boolFoto'>
					<input type='hidden' id='foto' name='foto'> 
			</form>
		</table>
			<input type=button value="Tirar Foto" onClick="take_snapshot()">
			<div style="float: left;" id="results"></br></div>
	</div>
			<div style="float: right;" id="my_camera"></div>
</div>
{% endblock content %}

{% block content2 %}

	<script type="text/javascript" src="{% static 'js/webcam.js' %}"></script>
	<script language="JavaScript">
		Webcam.set({
			// live preview size
			width: 320,
			height: 240,
			
			// device capture size
			dest_width: 320,
			dest_height: 240,
			
			// final cropped size
			crop_width: 240,
			crop_height: 240,
			
			// format and quality
			image_format: 'jpeg',
			jpeg_quality: 100
		});
		
		Webcam.attach( '#my_camera' );
	</script>
	<script language="JavaScript">
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
				// display results in page
				document.getElementById('results').innerHTML = 
					'<img src="'+data_uri+'"/>';
				document.getElementById('foto').value="'"+data_uri+"'";
				document.getElementById('boolFoto').value=1;
			} );
		}
	</script>
	{% endblock content2 %}