{% extends 'base.html' %}
{% block content %}
<form method='POST'>{% csrf_token %}
<div class='row'>
	<div class='col-lg-2'>
		<strong>Comandas: </strong><input type='text' name='num_comandas' value='{{ num_comandas }}'></input>
	</div>
	<div class='col-lg-2'>
		<strong>Total: </strong><input type='text' name='input_total' value='{{ total }}'></input>
	</div>
	<div class='col-lg-2'>
		<strong>Restante: </strong><input type='text' name='restante' value='{{ restante }}'></input>
	</div>
</div>
<div class='row'>
</br></br>
	<div class='col-lg-6'>
		<table class='table'>
			<thead>
				<th class="col-lg-2">Valor</th>
				<th class="col-lg-2">Tipo</th>
				<th class="col-lg-1"></th>
			</thead>
			<tbody>
			{% for key, pgto in pgtos.items %}
			<tr>
				<td>{{ pgto.valor }}</td>
				<td>{{ pgto.tipo_pgto }}</td>
				<td>
					<button type="submit" name='deleta' formmethod="post">
					<input type='hidden' name='id_pgto' value='{{ pgto.id_pagamento }}'></input>
					<span class="glyphicon glyphicon-remove"></span></button>
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td>{{ form_fechamento.valor }}</td>
				<td>{{ form_fechamento.tipo_pagamento }}</td>
				<td><input type='submit' value='Adicionar' name='add_pgto'></input></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div class='row'>	
	<input type='submit' name='encerrar' value='Encerrar'></input>
</form>
</div>
{% endblock content %}