{% extends 'base.html' %}
{% block content %}
<div class="col-lg-6">	
	<p><strong>Comandas:</strong> (separadas por ' ; ')</p>
		<form method='POST'>{% csrf_token %}<input type="text" name="num_comandas" value='{{ inicial }}'
		 autofocus></td>
			<input type='submit' value="Buscar" name="busca" ><br></br>
		</form>
		{% if aux_var %}
		<form method='POST' action='2'>{% csrf_token %}
			<input type='hidden' name='num_comandas' value='{{ inicial }}' ></input>
			<p><strong>Total:</strong><input type='text' value={{ total|floatformat:2 }} name='input_total' readonly></p>
			<input type='submit' value="Encerrar" name="fechar">
		</form>
</div>
<div class="col-lg-6">
	<table class="table" style="width:50%">
		<thead><td><strong>Entradas:</strong></td>
			<td></td><td><strong>{{ total_entradas|floatformat:2 }}</strong></td></thead>
		<tbody>
			{% if qtd_pkg != 0 %}
			<tr>
				<td>Por Kg:</td>
				<td>{{ qtd_pkg }}</td>
				<td>{{ valor_pkg|floatformat:2 }}</td>
			</tr>
			{% endif %}
			{% if qtd_esp != 0 %}
			<tr>
				<td>Esportiva:</td>
				<td>{{ qtd_esp }}</td>
				<td>{{ valor_esp|floatformat:2 }}</td>
			</tr>
			{% endif %}
			{% if qtd_inf != 0 %}
			<tr>
				<td>Infantil:</td>
				<td>{{ qtd_inf }}</td>
				<td>{{ valor_inf|floatformat:2 }}</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>


<br></br>
<br></br>

<div class="col-lg-12">
	<hr>
</div>

<div class="col-lg-6">
	<table class="table">
		
		<thead>
			<tr>
				<th class='col-sm-1'><strong>Nº</strong></th>
				<th class='col-sm-2'><strong>Peixe:</strong></th>
				<th class='col-sm-2'><strong>KG</strong></th>
				<th class='col-sm-2'><strong>Limpesa</strong></th>
				<th class='col-sm-2'><strong>R$</strong></th>
			</tr>
		</thead>
		<tbody>
		{% for key, obj in pesagens.items %}
			<tr>
				<td>{{ key }}</td>
				<td>{{ obj.tipo_peixe }}</td>
				<td>{{ obj.peso }}</td>
				<td>{{ obj.tipo_limpesa }}</td>
				<td>{{ obj.valor_pesagem|floatformat:2 }}</td>
			</tr>
		{% endfor %}
			<tr>
				<td></td>
				<td><strong>TOTAL</strong></td>
				<td><strong>{{ total_kg }}</strong></td>
				<td></td>
				<td><strong>{{ total_pesagens|floatformat:2 }}</strong></td>
			</tr>
		 
	</table>
</div>
<div class="col-lg-6">
	<table class="table" style="width:50%;">
		<tbody>	
			<tr>
				<td><strong>Produtos</strong></td>
				<td><strong>Quantidade</strong></td>
				<td><strong>R$</strong></td>
			</tr>
		{% for obj in compras %}	
			<tr>
				<td>{{ obj.id_produto }}</td>
				<td>{{ obj.qtd }}</td>
				<td>{{ obj.valor|floatformat:2 }}</td>
			</tr>
		{% endfor %}
			<tr>
				<td><strong>TOTAL</strong></td>
				<td><strong></strong></td>
				<td><strong>{{ total_compras|floatformat:2 }}</strong></td>
			</tr>
		</tbody>
	</table>
</div>
{% endif %}
{% endblock content %}