{% extends 'base.html' %}

{% block head_title %}{{ title }} | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="row">
	<div class='col-lg-3'>
		<h2>{{ title }}</h2>
	</div>
	<div class='col-lg-2'>
	</div>
	<div class='col-lg-7'>
		<form method='POST'>{% csrf_token %}
			<input type='text' name="num_comanda" autofocus><input type='submit' value='Buscar'>
		</form>
		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
<div class="row">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Cód Interno</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>RG</th>
			</tr>
		</thead>

		<tbody>
		{% for obj in clientes %}
			<tr class='clickable-row' data-href='{{ obj.get_absolute_url }}'>
			<td>{{ obj.id_cliente }}</td>
			<td>{{ obj.nome }}</td> 
			<td>{{ obj.sobrenome }}</td>
			<td>{{ obj.rg }}</td> 
			</tr>
		{% endfor%}

		</tbody>
	</table>

<div class="pagination">
    <span class="step-links">
        {% if clientes.has_previous %}
            <a href="?page={{ clientes.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ clientes.number }} de {{ clientes.paginator.num_pages }}.
        </span>

        {% if clientes.has_next %}
            <a href="?page={{ clientes.next_page_number }}">Próxima</a>
        {% endif %}
    </span>
</div>





</div>
{% endblock content %}

{% block content2 %}
<script>window.jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});</script>
{% endblock content2 %}