{% extends 'base.html' %}
{% block content %}

{% if messages %}
<div class='row'>
    {% for message in messages %}
    <div class='col-sm-6 col-sm-offset-3'>
    	<p{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</p>
	</div>
    {% endfor %}
</div>
{% endif %}
<h3>{{ title }}</h3>
</br>
<table class="table" style="width:33%">
	<form class="form-inline" method='POST'>{% csrf_token %}
		<tr><td>Número da Comanda</td><td>{{ form.num_comanda }}</td></tr>
		<tr><td>Nome do Cliente</td><td>{{ form.id_cliente }}</td></tr>
		<tr><td>Tipo de Entrada</td><td>{{ form.entrada_adulto }}</td></tr>
		<tr><td>Entradas Infantil</td><td>{{ form.entradas_infantil }}</td></tr>
		<tr><td></td><td><input type='submit' value="Criar Comanda"></td></tr>
</form>
</table>
{% endblock content %}