{% extends "base.html" %}
{% load staticfiles %}
{% block head %}

{% endblock head %}

{% block content %}

<!-- Se ja especificadas datas (inicio, fim), exibe relatorio correspondente -->
<div class="row">
	<p><a href="/relatorio/comandas/" >Voltar</a></p>
	<p><strong>Relatório de {% if data_inicio != data_fim %}{{ data_inicio }} a {{ data_fim }}
										{% else %}{{ data_inicio }}
										{% endif %}</strong></p>
</div>
<div class="row">
	<div class='col-lg-6'>
		<table class='table table-condensed'>
			<tr><td><strong>Resumo: </strong></td>
			<td><strong>{{ total|floatformat:2 }}</strong></td></tr>
			<tr><td><strong>Peixes</strong></td>
			<td>{{ total_peixes_rs|floatformat:2 }}</td></tr>
			<tr><td><strong>Entradas</strong></td>
			<td>{{ total_entradas|floatformat:2 }}</td></tr>
			<tr><td><strong>Limpesa</strong></td>
			<td>{{ total_limpesa|floatformat:2 }}</td></tr>
			<tr><td><strong>Produtos</strong></td>
			<td>{{ total_produtos|floatformat:2 }}</td></tr>
		</table>
	</div>
	<div class='col-lg-6'>
		<table class='table'>
		{% for key, obj in pgtos.items %}
			<tr><td><strong>{{ obj.tipo_pgto }}</strong></td><td>{{ obj.valor|floatformat:2 }}</td></tr>
		{% endfor %}
		</table>
	</div>
</div>


<hr>


<div class="row">
	<div class="col-lg-6">
		<table class='table table-condensed'>
			<thead>
				<tr>
					<th class='col-lg-1'></th>
					<th class='col-lg-3'></th>
					<th class='col-lg-4'></th>
					<th class='col-lg-4'></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td><strong>Peixes</strong></td>
					<td><strong>Kg - {{ total_peixes_kg }}</strong></td>
					<td><strong>{{ total_peixes_rs|floatformat:2 }}</strong></td>
				</tr>
			{% for key, item in peixes.items %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ item.peixe }}</td>
					<td>{{ item.peso }}</td>
					<td>{{ item.valor|floatformat:2 }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col-lg-6">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th class='col-lg-4'></th>
					<th class='col-lg-4'></th>
					<th class='col-lg-4'></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><strong>Entradas</strong></td>
					<td><strong>Qtd</strong></td>
					<td><strong>{{ total_entradas|floatformat:2 }}</strong></td>
				</tr>
			{% for key, item in entradas_adulto2.items %}
				<tr>
					<td>{{ item.tipo_entrada }}</td>
					<td>{{ item.qtd }}</td>
					<td>{{ item.valor|floatformat:2 }}</td>
				</tr>
			{% endfor %}
				<tr>
					<td>Infantil</td>
					<td>{{ entradas_infantil }}</td>
					<td>{{ entradas_infantil_rs|floatformat:2 }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<table class='table table-condensed'>
			<thead>
				<tr>
					<th class='col-lg-1'></th>
					<th class='col-lg-3'></th>
					<th class='col-lg-4'></th>
					<th class='col-lg-4'></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td><strong>Limpesa</strong></td>
					<td><strong>Kg - {{ total_limpesa_kg }}</strong></td>
					<td><strong>{{ total_limpesa|floatformat:2 }}</strong></td>
				</tr>
			{% for key, item in limpesas.items %}
				{% if not item.limpesa == "Sem Limpesa" %}
					<tr>
						<td>{{ key }}</td>
						<td>{{ item.limpesa }}</td>
						<td>{{ item.peso }}</td>
						<td>{{ item.valor|floatformat:2 }}</td>
					</tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col-lg-6">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th class='col-lg-1'></th>
					<th class='col-lg-3'></th>
					<th class='col-lg-4'></th>
					<th class='col-lg-4'></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td><strong>Produtos</strong></td>
					<td><strong>Qtd</strong></td>
					<td><strong>R$ - {{ total_produtos|floatformat:2 }}</strong></td>
				</tr>
			{% for key, item in produtos.items %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ item.produto }}</td>
					<td>{{ item.qtd }}</td>
					<td>{{ item.valor|floatformat:2 }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>



{% endblock content %}

{% block content2 %}

{% endblock content2 %}