{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href='{% static "css/jquery-ui.css" %}' /> 
{% endblock head %}
{% block content %}
<div class='row'>
	<p>Relatório NÃO INCLUI comandas abertas.</p>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

	<div class="col-lg-6">
		<table class='table'>
			<thead><strong>DATA</strong></thead>
			<tbody><td>
				<form method='POST'>{% csrf_token %}
<label for="from">De</label>
<input type="text" id="from" name="from">
<label for="to">Até</label>
<input type="text" id="to" name="to">
				<tr><td><input type='submit' value="Buscar" name="busca"></td></tr></form>
			</tbody>
		</table>
	</div>
{% endblock content %}
{% block content2 %}
<script src='{% static "js/jquery-ui.js" %}'></script>
  <script>
  $(function() {
    $( "#from" ).datepicker({
      defaultDate: 0,
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: 0,
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });
  </script>
{% endblock content2 %}